@media (max-width: 992px) {
    .vid-parent {
        width: 90%;
        height: 50%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 58%;
    }
    .monthItem {
        flex-direction: column;
        align-items: start;
    }
    /************ body ************/
    .rightCard {
        order: 2;
    }
    .card-header button {
        flex-direction: column;
        align-items: start !important;
        gap: 1rem;
    }
    .nameOfPart {
        max-width: 100%;
    }
    .preview-card {
        margin-top: 0rem;
        width: 90%;
        /* box-shadow: none; */
        margin-left: auto;
        margin-bottom: 3rem;
        margin-right: auto;
    }

    .preview-card .card-content {
        padding: 2rem 3rem;
    }

    .lectureName {
        width: 100%;
        text-align: center;
        font-size: 2.8rem;
    }

    .lectureDescription {
        width: 100%;
        text-align: center;
    }

    .lectureRelease {
        justify-content: center;
    }

    .lectureUbdateDate {
        justify-content: center;
    }

    .lec-hero-image {
        width: 60%;
        margin: 0 auto 3rem;
        display: block;
    }

    .preview-card-image {
        display: none;
    }

    .header {
        padding: 8rem 1rem 12rem;
    }

    .month {
        padding: 2rem 0 8rem;
    }

    .lec-image-content,
    .lec-hero-image img {
        border-radius: 10px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 55%;
    }

    .lec-hero-image {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .preview-card {
        width: 100%;
    }
}
