/*************[start global system]******************/
/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700


--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
.container {
    max-width: 1620px;
    padding: 0 2rem;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;

    text-transform: capitalize;

    font-family: "Almarai";
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--font-dark);
    background: var(--second-bg);
    overflow-x: hidden;
    transition: 0.3s all ease;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--font-dark);
    line-height: 1.6;
}

p {
    color: var(--p-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

ul {
    margin: 0;
}

span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-padding {
    padding: 8rem 0;
}

.ontop {
    position: relative;
    z-index: 4;
}

.position-re {
    position: relative;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-fixed {
    background-attachment: fixed;
}

.d-redColor {
    color: var(--d-red-color);
    font-weight: 600;
}

.d-blueColor {
    color: var(--d-blue-color);
    font-weight: 600;
}

.d-yellowColor {
    color: var(--d-yellow-color);
    font-weight: 600;
}

.l-redColor {
    color: var(--l-red-color);
}

.l-blueColor {
    color: var(--l-blue-color);
}

/*********************************************
*********** start header ********************
*******************************************/
/* .header {
    padding: 10rem 0 12rem;
    background: var(--main-bg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 1.5rem;
    transition: .3s all ease;

} */
.subName {
    color: var(--main-brown);
    margin-right: 0.5rem;
}

.pageName {
    color: var(--font-dark);
    font-size: 2.8rem;
    font-weight: bold;
}

/*********************************************
*********** start levels ********************
*******************************************/
.main {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.levelsBox .row {
    justify-content: center;
    margin: 13rem 0 0;
}

.noLec {
    width: 50%;
    margin: 0 auto;
}

/*****************************************
********** start footer ******************
*****************************************/

/** footer waves **/

/**************/

div.waves {
    width: 100%;
    bottom: 0;
    /*height: 100%;*/
    position: absolute;
    z-index: 4;
}

.tutorial-link {
    font-family: sans-serif;
    text-align: center;
}

.waves svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    animation-duration: 0.1s !important;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.spacer {
    height: 100px;
    width: 100%;
}

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: -2000px;
        top: 200px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

/******************************************
********************************************
*********************************************
*********************************************
****** start dark ****************************
****************************************
********************************************
*********************************************
**********************************************/

.dark:root {
    --main-bg: #2d3946;
    --second-bg: #556373;
    --font-dark: #fff;
    --font-light: #ebebeb;
}

/***** start nav ******/
.dark nav {
    background: #272d3d;
}

.dark .navProgress {
    background: #373e47;
}

.dark .navProgChild {
    background: var(--green-color);
}

/***** start levels ******/
.dark .levelItem {
    background-color: #405368;
}

.dark .levelDescription {
    color: #b5b5b5;
}

/**** footer ******/

.dark footer .wave1 path {
    fill: rgba(64, 83, 104);
    transition: 0.3s all ease;
}

.dark footer .wave2 path {
    fill: rgba(64, 83, 104, 0.6);
    transition: 0.3s all ease;
}

.dark footer .wave3 path {
    fill: rgba(64, 83, 104, 0.4);
    transition: 0.3s all ease;
}
